#pic-rotate-display
	.pic-rotate-display-wrapper.top-wrapper
		.pic-rotate-display-container
			.pic-display-field
				ul.pic-display-list
					li#pic-0
						.display-pic
					li#pic-1
						.display-pic
					li#pic-2
						.display-pic
				.arrow-field
					.left-arrow.vertical-center
					.right-arrow.vertical-center
			.pic-controll-field
				ul.pic-controll-list.total-center
					li#controll-0.choose
						.bar
					li#controll-1
						.bar
					li#controll-2
						.bar
					.clear
#istargene-coverage
	.istargene-coverage-wrapper.top-wrapper
		.istargene-coverage-container
			.title-field
				p.big-title.title 启星基因报道
			.coverage-list-field
				ul.coverage-list
					li#coverage-0
						.head-field
							p.title 潘石屹点赞，刘强东说好，SOHO潘谈会。
							p.time 2015.12.31
							.clear
						.body-field
							.coverage-pic(style="background-image:url('/images/coverage/coverage-0.png')")
						.foot-field
							p.content 在一场由SOHO中国CEO潘石屹发起，雷军、冯仑等各界大佬共同参与的殿堂级创业分享座谈会上，启星基因检测以在关注创业者健康领域所做的贡献与成就，以及其它产品不可比拟的科技含量和业内口碑 ，赢得潘石屹等人称赞不绝，吸引了一大批创业者的强烈关注。
					li#coverage-1
						.head-field
							p.title 受邀行业大会，探秘撬动万亿市场的独特基因
							p.time 2016.1.26
						.body-field
							.coverage-pic(style="background-image:url('/images/coverage/coverage-1.png')")
						.foot-field
							p.content 2016年1月26日，贝壳社主办的《Bio4P中国医健创客大会》，云集业界众多专家。23魔方CEO周坤所分享的精彩内容，引发了与会数百名医生与专业人士的关注。作为中国首家消费级基因检测公司，启星致力运用大数据分析，切入大健康领域。
					li#coverage-2
						.head-field
							p.title 斯德哥尔摩大学，实地学术讨论
							p.time 2016.3.11
						.body-field
							.coverage-pic(style="background-image:url('/images/coverage/coverage-2.png')")
						.foot-field
							p.content 2016年3月11日，贝壳社主办的《Bio4P中国医健创客大会》，云集业界众多专家。23魔方CEO周坤所分享的精彩内容，引发了与会数百名医生与专业人士的关注。作为中国首家消费级基因检测公司，启星致力运用大数据分析，切入大健康领域。
					.clear
#media-link
	.media-link-wrapper.top-wrapper
		.media-link-container
			.title-field
				p.title.big-title 媒体链接报道
			.cooperate-oper-field
				.cooperate-oper-container
					.cooperate-oper
						.left-oper
						.right-oper
						.clear
				.clear
			.link-list-field
				ul.link-list
					li#link-0
						.link-pic.total-center
					li#link-1.left-seperate.right-seperate
						.link-pic.total-center
					li#link-2
						.link-pic.total-center
					li#link-3.left-seperate.right-seperate
						.link-pic.total-center
					li#link-4
						.link-pic.total-center
					li#link-5.left-seperate.right-seperate
						.link-pic.total-center
					li#link-6
						.link-pic.total-center
					li#link-7.left-seperate.right-seperate
						.link-pic.total-center
					li#link-8.right-seperate
						.link-pic.total-center
					li#link-9
						.link-pic.total-center
					.clear
#video-coverage
	.video-coverage-wrapper.top-wrapper
		.video-coverage-container
			.title-field
				p.title.big-title 媒体视频报道
			.video-field
				video(id="video-coverage" class="video-js vjs-default-skin" controls preload="none" width="1023" height="445" poster="/images/video/video-display.png")
					source(src="/images/Z耳.HD1280高清国语中英双字.mp4" type='video/mp4')
					track(kind="captions" src="demo.captions.vtt" srclang="en" label="English")
					track(kind="subtitles" src="demo.captions.vtt" srclang="en" label="English")
			.logo-field
				.all-logo
