#pic-rotate-display
	.pic-rotate-display-wrapper.top-wrapper
		.pic-rotate-display-container
			.pic-display-field
				ul.pic-display-list
					li#pic-0
						.display-pic
					li#pic-1
						.display-pic
					li#pic-2
						.display-pic
				.arrow-field
					.left-arrow.vertical-center
					.right-arrow.vertical-center
			.pic-controll-field
				ul.pic-controll-list.total-center
					li#controll-0.choose
						.bar
					li#controll-1
						.bar
					li#controll-2
						.bar
					.clear
#istargene-coverage
	.istargene-coverage-wrapper.top-wrapper
		.istargene-coverage-container
			.title-field
				p.big-title.title 启星基因报道
			.coverage-list-field
				ul.coverage-list
					li#coverage-0
						.head-field
							p.title 瑞典启星基因正式进入中国市场
							p.time 2016.01.15
							.clear
						.body-field
							.coverage-pic(style="background-image:url('/images/coverage/coverage-0.png')")
						.foot-field
							p.content 来自的瑞典儿童基因检测公司——iStarGene(启星基因)在此会议上向投资者表明，2016年公司将全面进入中国市场，此前已经在中国进行了小范围社群内测，对中国人的基因数据做了全面的研究调查，旨在保证检测水准的同时做到本土化。值得强调的是，位于瑞典斯德哥尔摩市的iStarGene是一家专注发展儿童天赋、儿童营养、儿童健康等领域的直面消费者的企业，其科研实力依托于卡罗林斯卡医学院，该学院每年在世界一流医疗刊物上发表的论文就超过4000篇。
					li#coverage-1
						.head-field
							p.title 天赋基因检测 究竟靠谱吗？
							p.time 2016.03.29
						.body-field
							.coverage-pic(style="background-image:url('/images/coverage/coverage-1.png')")
						.foot-field
							p.content 目前专注于天赋基因检测领域的专业生物公司有美国的Geneplanet、日本的GENELIFE和引进瑞典技术的中国公司iStarGene（启星基因）。这些公司都是采用全基因组关联分析（Genome-wide association study）技术。即通过检测不同个体间的基因变化，找到基因与性状之间的关系。若某基因与性状的相关性越大，则该性状受基因控制的程度越高。
					li#coverage-2
						.head-field
							p.title 美国NCAA联赛高校采用基因检测技术
							p.time 2016.03.31
						.body-field
							.coverage-pic(style="background-image:url('/images/coverage/coverage-2.png')")
						.foot-field
							p.content 其实利用基因检测发现运动员的天赋潜能并非Athletigen公司首创，早在2005年，澳大利亚体育局就已经应用天赋基因检测技术进行职业运动员的筛选。目前在国际范围内专注于天赋基因检测领域的专业生物公司主要有美国的Geneplanet、日本的GENELIFE和引进瑞典技术的中国公司iStarGene（启星基因）。
					.clear
#media-link
	.media-link-wrapper.top-wrapper
		.media-link-container
			.title-field
				p.title.big-title 媒体链接报道
			.cooperate-oper-field

				//.cooperate-oper-container
					.cooperate-oper
						.left-oper
						.right-oper
						.clear
					.clear
			.link-list-field
				ul.link-list
					a
						li#link-0
							.link-pic
					a(href="http://edu.163.com/16/0329/17/BJBEUE9300294KHN.html")
						li#link-1
							.link-pic
					a(href="http://news.sina.com.cn/o/2016-01-15/doc-ifxnqriz9701982.shtml")
						li#link-2
							.link-pic
					a(href="http://toutiao.com/i6239912398170358273/")
						li#link-3
							.link-pic
					a(href="http://www.sohu.com/?pvid=b6a6473ea63069a1")
						li#link-4
							.link-pic
					a(href="http://news.ifeng.com/a/20160331/48282078_0.shtml")
						li#link-5.not-right-seperate
							.link-pic
					a
						li#link-6
							.link-pic
					a
						li#link-7
							.link-pic
					a
						li#link-8
							.link-pic
					a
						li#link-9
							.link-pic
					a
						li#link-10
							.link-pic
					a
						li#link-11.not-right-seperate
							.link-pic
					
					.clear
#video-coverage
	.video-coverage-wrapper.top-wrapper
		.video-coverage-container
			.title-field
				p.title.big-title 媒体视频报道
			.video-field
				video(id="video-coverage" class="video-js vjs-default-skin" controls preload="none" width="1023" height="445" poster="/images/video/video-display.png")
					source(src="" type='video/mp4')
					track(kind="captions" src="demo.captions.vtt" srclang="en" label="English")
					track(kind="subtitles" src="demo.captions.vtt" srclang="en" label="English")
			.logo-field
				.all-logo
