extends index

block css
	link(rel='stylesheet' type='text/css' href='/public/css/Coverage/main.css')
	link(rel='stylesheet' type='text/css' href='/public/css/Coverage/base64.css')
	link(rel='stylesheet' type='text/css' href='/public/css/common/video-js.min.css')

block bottom
	script(src='/public/js/common/video.js', type='text/javascript')
	script(src='/public/js/Coverage/main.js', type='text/javascript')
