extends index

block css
	link(rel='stylesheet' type='text/css' href='/public/css/Purchase/TotalBasic/main.css')
	link(rel='stylesheet' type='text/css' href='/public/css/Purchase/TotalBasic/base64.css')

block bottom
	script(src='/public/js/Purchase/TotalBasic/main.js', type='text/javascript')
