extends ../index

block displayPic
	.display-pic(style="background-image:url('/images/purchase/purchase-2.png')")

block purchaseHeader
	.purchase-header-field
		p.name SMART天赋基础套餐
		p.price ￥ 13800.00
		.intro-field
			p.type
				b 种类
				：S天赋（运动）、M天赋（音乐）、A天赋（绘画）、R天赋（科学）、T天赋（舞蹈）
			p.standard
				b 规格
				：男孩、女孩
			p.freight
				b 运费
				：免运费

block content
	#single-detect
		.single-detect-wrapper.top-wrapper
			.title-field
				p.big-center-title.tile.horizontal-center 单项检测基础版
				p.hint 在25000个基因、30亿个碱基对中，找出影响4-5种影响天赋的位点
			.talent-field
				ul.talent-type-list
					li#talent-S
						.talent-header
							p S天赋
						ul.talent-list
							li 骨骼强度
							li.deep-blue 肌肉发育
							li 有氧代谢能力
							li 爆发力
							li.deep-blue 
							li 
							li
							.clear
						.clear
							
					li#talent-M
						.talent-header
							p M天赋
						ul.talent-list
							li 节奏感
							li 绝对音高
							li.deep-green 音乐感受力
							li 音准
							li 
							li 
							li 
							.clear
						.clear
							
					li#talent-A
						.talent-header
							p A天赋
						ul.talent-list
							li 形象思维
							li 操作智商
							li 空间思维
							li 色彩敏感度
							li.purple-red
							li 
							li 
							.clear
						.clear
							
					li#talent-R
						.talent-header
							p R天赋
						ul.talent-list
							li 专注力
							li 计算能力
							li 长期记忆
							li.deep-yellow 抗压能力
							li 逻辑思维
							li.deep-yellow
							li 
							.clear
						.clear
							
					li#talent-T
						.talent-header
							p T天赋
						ul.talent-list
							li.shallow-blue 柔韧度
							li 平衡感
							li 即兴表演
							li 体型
							li 
							li 
							li.shallow-blue
							.clear
						.clear
			.supplement-explain-field.warn-field
				p 人与人之间99.9%的基因是相同的，只有0.1%不同。正是0.1%的差异造成个体身高、爆发力、智力等特征的差异。
				p 卓越的特征表现，即为孩子的天赋。
				p 启星基因依据《Nature》、《Science》等国际顶尖杂志的最新人类基因科研成果，将文献中的天赋基因位点基因型与天赋水平对应记录整理成数据库。采集受检者的唾液样品并提取出DNA，采用全球领先的分型技术平台，对受检者的相关基因进行分型。受检者的基因检测结果得到数据库中匹配，从而测出受检者的天赋潜能水平。
