extends index

block css
	link(rel='stylesheet' type='text/css' href='/public/css/Purchase/SingleBasic/main.css')
	link(rel='stylesheet' type='text/css' href='/public/css/Purchase/SingleBasic/base64.css')

block bottom
	script(src='/public/js/Purchase/SingleBasic/main.js', type='text/javascript')
