#istargene-footer
	.footer-container
		#basic-info
			.basic-info-wrapper
				.basic-info-container
					.QRcode-field
						.weibo-QRcode-field.QR-block
							p 启星微博
							.weibo-QRcode.QR-pic
						.weixin-QRcode-field.QR-block
							p 启星微信公众号
							.weixin-QRcode.QR-pic
						.clear
					.intro-field
						.about-field
							p.title 关于
							ul.intro-list
								a(href='/About/')
									li
										.arrow-icon
										p 公司简介
								a(href='/')
									li
										.arrow-icon
										p 商务合作
								a(href='/About/')
									li
										.arrow-icon
										p 加入我们
						.product-field
							p.title 产品
							ul.intro-list
								a(href='/')
									li
										.arrow-icon
										p 儿童天赋
								a(href='/Service/')
									li
										.arrow-icon
										p 服务流程
								a(href='/About/')
									li
										.arrow-icon
										p 常见问题
						.use-field
							p.title 使用
							ul.intro-list
								a(href='/Service/')
									li
										.arrow-icon
										p 订购方式
								a(href='/Coverage/')
									li
										.arrow-icon
										p 媒体报道
								a(href='/Service/')
									li
										.arrow-icon
										p 采样流程
						.clear
					.contact-field
						p.phone 座机: 400-620-8688
						p.email e-mail: inquiry@istargene.com
					.clear
		#copyright
			.copyright-wrapper
				.copyright-container
					.copyright-field
						p © 2015 iStarGene 北京无限启星科技有限公司 All Rights Reserved 京ICP备15066304号
