doctype html
html
	head
		include commonHead
		include commonlib
		block head

	body
		#istargene
			include nav
			#istargene-main
				#main-wrapper
					block mainbar
			include footer
		block bottom