#istargene-head-nav
	.nav-wrapper
		.nav-container
			.logo-container
				.logo-pic-field
					a(href='/')
						.logo-pic
			.choose-container
				ul.choose-list
					a(href='/')
						li#home-page-field
							p#home-page 主页
					a(href='/Product')
						li#product-page-field
							p#product-page 产品中心
					a(href='/Service')
						li#service-page-field
							p#service-page 服务流程
					a(href='/Coverage')
						li#coverage-page-field
							p#coverage-page 媒体报道
					a(href='/About')
						li#about-page-field
							p#about-page 关于我们
					.clear
			
			//.search-container
				.search-field
					.search-pic
			//
			.clear