extends index

block css
	link(rel='stylesheet' type='text/css' href='/public/css/Product/main.css')
	link(rel='stylesheet' type='text/css' href='/public/css/Product/base64.css')

block bottom
	script(src='/public/js/Product/main.js', type='text/javascript')
