#pic-rotate-display
	.pic-rotate-display-wrapper.top-wrapper
		.pic-rotate-display-container
			.pic-display-field
				ul.pic-display-list
					li#pic-0
						.display-pic
					li#pic-1
						.display-pic
					li#pic-2
						.display-pic
				.arrow-field
					.left-arrow.vertical-center
					.right-arrow.vertical-center
			.pic-controll-field
				ul.pic-controll-list.total-center
					li#controll-0.choose
						.bar
					li#controll-1
						.bar
					li#controll-2
						.bar
					.clear
#combo-purchase
	.combo-purchase-wrapper.top-wrapper
		.combo-purchase-container
			.combo-select-list-field
				ul.combo-select-list
					li.combo-select#combo-select-0
						.detail-field
							p 单包套餐
							p 基础版
						.btn-field
							.btn.purchase-btn
								p 点击购买
					li.combo-select#combo-select-1
						.detail-field
							p 单包套餐
							p 升级版
						.btn-field
							.btn.purchase-btn
								p 点击购买
					li.combo-select#combo-select-2
						.detail-field
							p 全天赋监测
							p 基础版
						.btn-field
							.btn.purchase-btn
								p 点击购买
					li.combo-select#combo-select-3
						.detail-field
							p 全天赋监测
							p 完整版
						.btn-field
							.btn.purchase-btn.not-open
								p 敬请期待
					.clear
			.single-detect-field
				.detail-field
					p 单天赋检测（49项中任意一项）1500元
				.btn-field
					.btn.purchase-btn
						p 点击购买
				.clear
#lab-technique
	.lab-technique-wrapper.top-wrapper
		.lab-technique-container
			.title-field
				p.title.big-title 实验室技术
				p.title Laboratory techniques
			.detail-field
				ul.detail-list
					li#lab-tech-detail-0
						.logo(style="background-image:url('/images/product/lab-tech-detail-0.png')")
						.content-field.vertical-center
							p.content 3730XL型全自动遗传分析仪采用Sanger双脱氧终止法对DNA进行测序，此方法经过数十年的发展已相当完善，人类基因组计划就是用该技术完成。目前，主要用于医学测序和健康管理的精准检测，在瑞典已广泛应用于临床相关诊断和治疗中。
					li#lab-tech-detail-1
						.logo(style="background-image:url('/images/product/lab-tech-detail-1.png')")
						.content-field.vertical-center
							p.content MassARRAY®DNA质谱基因分析系统是应用质谱技术对核酸样本检测的先进技术平台，已经通过了美国FDA认证。它的应用范围涵盖基因型分析、二代测序和芯片数据验证，DNA甲基化分析、基因及其表达定量，病原体检测和分子分型等。
					li#lab-tech-detail-2
						.logo(style="background-image:url('/images/product/lab-tech-detail-2.png')")
						.content-field.vertical-center
							p.content HiSeq3000/4000高通量测序仪是Illumina公司的新一代测序仪，高通量测序一次能对几十万到几百万条DNA分子进行序列测定，可以开展全基因组、外显子组、转录组等测序工作。
						
			.summary-field
				p 启星基因的研发中心iStarGene Lab建立在瑞典首都斯德哥尔摩市。
				p 启星基因实验室拥有ABI 3730XL型全自动遗传分析仪、Sequenom MassARRAY®DNA质谱基因分析系统、Illumina iScan芯片扫描仪、 Illumina  HiSeq3000/4000高通量测序仪等先进的基因分析设备。
