extends index

block css
	link(rel='stylesheet' type='text/css' href='/public/css/About/main.css')
	link(rel='stylesheet' type='text/css' href='/public/css/About/base64.css')

block bottom
	script(src='/public/js/About/main.js', type='text/javascript')
