#pic-rotate-display
	.pic-rotate-display-wrapper.top-wrapper
		.pic-rotate-display-container
			.pic-display-field
				ul.pic-display-list
					li#pic-0
						.display-pic
					li#pic-1
						.display-pic
					li#pic-2
						.display-pic
				.arrow-field
					.left-arrow.vertical-center
					.right-arrow.vertical-center
			.pic-controll-field
				ul.pic-controll-list.total-center
					li#controll-0.choose
						.bar
					li#controll-1
						.bar
					li#controll-2
						.bar
					.clear
#purchase-way
	.purchase-way-wrapper.top-wrapper
		.purchase-way-container
			.top-pic-field
				.top-pic-wrapper
					.purchase-way-pic
			.purchase-way-list-field
				ul.purchase-way-list
					li#purchase-way-store
						.white-box
							p.c-name 购买方式
							p.e-name Purchase way
							p.way-name 实体店
						.way
							p 地址：北京市朝阳区八里庄东里1号莱锦产业园B-108
					li#purchase-way-partner
						.white-box
							p.c-name 购买方式
							p.e-name Purchase way
							p.way-name 合作方
						.way
							p 合作方地
							p 址或网站
					li#purchase-way-online
						.white-box
							p.c-name 购买方式
							p.e-name Purchase way
							p.way-name 线上
						.way
							p 手机微信
							p 扫码购买
					.clear
#service-flow
	.service-flow-wrapper.top-wrapper
		.service-flow-container
			.top-pic-field
				.top-pic-wrapper
					.service-flow-pic
			.step-list-field
				.step-list-wrapper
					ul.step-list
						li#step-0
							p
								span 购买启星产品：
								进入启星基因微信商城，我们将会在您下单后3个工作日内通过顺丰快递发送儿童专用采样盒
						li#step-1
							p
								span 收到采样盒：
								收到采样盒后，关注微信公众号“启星基因”，输入购买时所留手机号，随时掌握检测进度
						li#step-2
							p
								span 采集样本：
								请严格按照说明书上的指导完成样本采集
							.special-line.horizontal-center
						li#step-3
							p 
								span 回寄样本：
								将完成采样的拭子回寄给启星基因实验室
						li#step-4
							p
								span DNA检测：
								启星基因实验室在收到样本后将对相关基因位点进行检测
						li#step-5
							p
								span 收到基因书：
								三十个工作日后，附有孩子检测结果的基因解读书将通过快递邮寄到您的手中
						.clear
			.collect-description-field
				.collect-description-wrapper
					.title-field
						p.title 采集说明
					.collect-step-field
						.subtitle-field
							p.subtitle 1. 收到采样盒后，父母按照说明书协助孩子采样
						.collect-all-step-field
							.collect-all-step-pic
						ul.collect-step-list
							li#step-0
								p 清洗双手，拔出连接拭子的试管帽，取出拭子
							li#step-1
								p 用拭子海绵头在口腔内壁（脸颊左右内侧）分别刮拭10次
							li#step-2
								p 采样后将拭子放在采样盒的凹槽处卡好，自然风干1小时
								p *晾干过程中，拭子海绵头不可接触其他物体
							li#step-3
								p 用余下的拭子重复①、②、③步骤，保证4支拭子都成功取样。风干后，将其盖回试管内，并收置于采样盒内
							li#step-4
								p 为保证检测结果的准确性，请在两天内将知情同意书与采样盒一起寄回
							.clear
					.collect-finish-field
						.subtitle-field
							p.subtitle 2. 父母可携带孩子到北京启星基因体验中心，将有专业人员为宝宝采样
