extends index

block css
	link(rel='stylesheet' type='text/css' href='/public/css/Home/main.css')
	link(rel='stylesheet' type='text/css' href='/public/css/Home/base64.css')

block bottom
	script(src='/public/js/Home/main.js', type='text/javascript')
