#pic-rotate-display
	.pic-rotate-display-wrapper
		.pic-rotate-display-container
			.pic-display-field
				ul.pic-display-list
					li#pic-0(style="background-image:url('/images/rotate-0.png')")
						.display-pic
					li#pic-1(style="background-image:url('/images/rotate-0.png')")
						.display-pic
					li#pic-2(style="background-image:url('/images/rotate-0.png')")
						.display-pic
				.arrow-field
					.left-arrow.vertical-center
					.right-arrow.vertical-center
			.pic-controll-field
				ul.pic-controll-list.total-center
					li#controll-0.choose
						.bar
					li#controll-1
						.bar
					li#controll-2
						.bar
					.clear

#talent-intro
	.talent-intro-wrapper
		.talent-intro-container
			.all-talent-field
				ul.all-talent-list
					li#talent-sport
						.pic-field
							.pic
							p.title SPORT
						.word-field
							p S天赋：S是取自运动Sport的首字母
							p 寻找每个孩子独一无二（Special）的运动（Sport）基因
						.btn-field
							.btn
								p 运动
					li#talent-music
						.pic-field
							.pic
							p.title MUSIC
						.word-field
							p M天赋： M是取自音乐Music的首字母
							p 帮助孩子获得令人惊叹的艺术（Art）成就（Achievement）
						.btn-field
							.btn
								p 音乐
					li#talent-art
						.pic-field
							.pic
							p.title ART
						.word-field
							p A 天赋：A是取自艺术Art的首字母
							p 帮助孩子获得令人惊叹的艺术（Art）成就（Achievement）
						.btn-field
							.btn
								p 绘画
					li#talent-research
						.pic-field
							.pic
							p.title SCIENCE
						.word-field
							p R 天赋：R是取自科学研究Research的首字母
							p 卓越的（Remarkable）科学（Scientific Research）天赋 ，培养全能人才
						.btn-field
							.btn
								p 科学
					li#talent-terpsichorean
						.pic-field
							.pic
							p.title TERPSICHOREAN
						.word-field
							p T 天赋：T是取自舞蹈家Terpsichorean的首字母
							p 非努力能概括的卓越舞蹈家（Terpsichorean）更需要天赋（Talent）
						.btn-field
							.btn
								p 舞蹈
					.clear
			.click-purchase-field
				.purchase-btn.btn.total-center
					p 点击购买
