#pic-rotate-display
	.pic-rotate-display-wrapper.top-wrapper
		.pic-rotate-display-container
			.pic-display-field
				ul.pic-display-list
					li#pic-0(style="background-image:url('/images/rotate-0.png')")
						.display-pic
					li#pic-1(style="background-image:url('/images/rotate-0.png')")
						.display-pic
					li#pic-2(style="background-image:url('/images/rotate-0.png')")
						.display-pic
				.arrow-field
					.left-arrow.vertical-center
					.right-arrow.vertical-center
			.pic-controll-field
				ul.pic-controll-list.total-center
					li#controll-0.choose
						.bar
					li#controll-1
						.bar
					li#controll-2
						.bar
					.clear

#talent-intro
	.talent-intro-wrapper.top-wrapper
		.talent-intro-container
			.all-talent-field
				ul.all-talent-list
					li#talent-sport
						.pic-field
							.pic
							p.title SPORT
						.word-field
							p S天赋：S是取自运动Sport的首字母
							p 寻找每个孩子独一无二（Special）的运动（Sport）基因
						.btn-field
							.btn
								p 运动
					li#talent-music
						.pic-field
							.pic
							p.title MUSIC
						.word-field
							p M天赋： M是取自音乐Music的首字母
							p 帮助孩子获得令人惊叹的艺术（Art）成就（Achievement）
						.btn-field
							.btn
								p 音乐
					li#talent-art
						.pic-field
							.pic
							p.title ART
						.word-field
							p A 天赋：A是取自艺术Art的首字母
							p 帮助孩子获得令人惊叹的艺术（Art）成就（Achievement）
						.btn-field
							.btn
								p 绘画
					li#talent-research
						.pic-field
							.pic
							p.title RESEARCH
						.word-field
							p R 天赋：R是取自科学研究Research的首字母
							p 卓越的（Remarkable）科学（Scientific Research）天赋 ，培养全能人才
						.btn-field
							.btn
								p 科学
					li#talent-terpsichorean
						.pic-field
							.pic
							p.title TERPSICHOREAN
						.word-field
							p T 天赋：T是取自舞蹈家Terpsichorean的首字母
							p 非努力能概括的卓越舞蹈家（Terpsichorean）更需要天赋（Talent）
						.btn-field
							.btn
								p 舞蹈
					.clear
			.click-purchase-field
				.purchase-btn.btn.total-center
					p 点击购买
#child-gene-detect
	.child-gene-detect-wrapper.top-wrapper
		.child-gene-detect-container
			.detect-title-field
				p.title.big-title 什么是儿童基因检测？
			.detect-content-field
				p.content 人与人之间
					span 99.9%
					的基因是相同的，只有
					span 0.1%
					不同。正是
					span 0.1%
					的差异造成个体身体素质、智力等特征的差异。
				p.content 启星基因依据《Nature》、《Science》等国际顶尖杂志的最新人类基因科研成果，将文献中的天赋基因位点基因型与天赋水平对应记录整理成数据库。通过提取孩子口腔上皮细胞样本中的DNA，采用全球领先的基因分型技术平台，准确获取基因检测结果并与数据库进行匹配，从而发现孩子的潜能特质。

#why-istargene
	.why-istargene-wrapper.top-wrapper
		.why-istargene-container
			.why-title-field
				p.title.big-title 为什么选择启星基因?
			.reason-field
				ul.reason-list
					li#reason-science
						.science-pic.pic
						p.title 科学严谨
						p.content 瑞典高校的科研背景；符合欧洲安全标准的实验室；高达
							span 99.9%
							的准确率
					li#reason-comprehensive
						.comprehensive-pic.pic
						p.title 全方位服务
						p.content 专门为儿童设计的安全拭子；足不出户的检测流程；全球知名高校的专家解读报告
					li#reason-accurate
						.accurate-pic.pic
						p.title 精准教育
						p.content 了解孩子的潜能特质，把握窗口期；父母不需再奔波于各类兴趣班，让孩子轻松成长
					.clear
#gene-story
	.gene-story-wrapper.top-wrapper
		.gene-story-container
			.story-title-field
				p.title.big-title 基因故事
			.story-list-feild
				ul.story-list
					li#story-maomao
						.pic
						p.name 毛毛（6个月）
					li#story-xiongbao
						.pic
						p.name 熊宝（18个月）
					li#story-naitang
						.pic
						p.name 奶糖（3岁）
					li#story-more
						.pic
						p.name 更多案例
					.clear
#business-cooperate
	.business-cooperate.top-wrapper
		.business-cooperate-container
			.cooperate-title-field
				p.title.big-title 商务合作
			.cooperate-oper-field
				.cooperate-oper-container
					.cooperate-oper
						.left-oper
						.right-oper
						.clear
				.clear
			.cooperate-list-field
				ul.cooperate-list
					li#cooperate-0
						.pic(style="background-image:url('/images/cooperate/cooperate-0.png')")
					li#cooperate-1
						.pic(style="background-image:url('/images/cooperate/cooperate-1.png')")
					li#cooperate-2
						.pic(style="background-image:url('/images/cooperate/cooperate-2.png')")
					li#cooperate-3
						.pic(style="background-image:url('/images/cooperate/cooperate-3.png')")
					li#cooperate-4
						.pic(style="background-image:url('/images/cooperate/cooperate-4.png')")
					li#cooperate-5
						.pic(style="background-image:url('/images/cooperate/cooperate-5.png')")
					.clear
