extends index

block css
	link(rel='stylesheet' type='text/css' href='/public/css/Story/main.css')
	link(rel='stylesheet' type='text/css' href='/public/css/Story/base64.css')

block bottom
	script(src='/public/js/Story/main.js', type='text/javascript')
